POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PG_HOST=
REDIS_HOST=
REDIS_PASSWORD=
JWT_SECRET=
JWT_ALGORITHM=
AWESOME_API_URL=https://economia.awesomeapi.com.br
AWESOME_API_TOKEN=
AWESOME_API_TIMEOUT=10
SEED_REQUEST_INTERVAL=1
QUOTE_COLLECT_INTERVAL=300
